<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="<%= @meta[:keywords] %>">
    <meta name="description" content="<%= @meta[:description] %>">
    <title><%= @meta[:title] %></title>

    <!-- Facebook meta tags -->
    <%= if @meta[:facebook_title] do %><meta property="og:title" content="<%= @meta[:facebook_title] %>"><% end %>
    <%= if @meta[:facebook_description] do %><meta property="og:description" content="<%= @meta[:facebook_description] %>"><% end %>
    <meta property="og:site_name" content="Digital Public Works">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>

  <body>


    <header class="header navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="logo navbar-brand">
          <img src="<%= Application.fetch_env!(:dpw, :assets)[:logo] %>">
          MKE Digital Public Works
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <nav role="navigation">
            <ul class="nav navbar-nav">
              <li><a href="/">View Projects</a></li>
              <li><a href="/submit">Submit a Project</a></li>
            </ul>
          </nav>
          <nav role="navigation" class="navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="/login">Sign in</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main role="main" style="padding-top: 50px" class="container">
      <%= render @view_module, @view_template, assigns %>
      <div class="footer">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
