$black: #333;

body {
  font-family: "Merriweather";
  font-size: 16px;
}

.btn {
  border-radius: 2px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &.btn-primary {
    background-color: #00A7E0;
    border-color: darken(#00A7E0, 10%);

    &:hover {
      background-color: darken(#00A7E0, 5%)!important;
    }
  }
}

.navbar-default {
  background-color: #FFF;
  border-color: $black;

  .navbar-brand {
    color: $black;

    img {
      max-width: 22px;
      min-width: 22px;
      display: inline-block;
      position: relative;
      top: -3px;
      margin-right: 0.5rem;
    }
  }


  .navbar-nav {
    > li, li > a {
      color: $black;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;

  ul {
    list-style: none;
    padding: 0px;

    li { 
      display: inline-block;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0px;
      }

      a {
        color: #999;
        font-size: 1.2rem;
      }
    }
  }
}

.navbar-toggle {
  border-color: #FFF!important;
  border-radius: 0px;
}

.content-page {
  max-width: 600px;
  margin: auto;
  margin-top: 8rem;

  .title {
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  h3.title {
    margin-bottom: 3rem;
  }

  li {
    margin-bottom: 1.5rem;
  }

  input, textarea {
    border-radius: 2px;
    resize: none;
    overflow: hidden;
  }
  
  textarea {
    min-height: 250px;
  }

  .required {
    label:after {
      content: '*';
      position: relative;
      left: 5px;
      top: -5px;
      font-size: 1rem;
      color: #d9534f;

    }
  }

}
