$black: #333;

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
}

.btn {
  border-radius: 2px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &.btn-primary {
    background-color: #00A7E0;
    border-color: darken(#00A7E0, 10%);

    &:hover {
      background-color: darken(#00A7E0, 5%)!important;
    }
  }
}

.navbar-default {
  background-color: #FFF;
  border-color: $black;

  .navbar-brand {
    color: $black;

    img {
      max-width: 22px;
      min-width: 22px;
      display: inline-block;
      position: relative;
      top: -3px;
      margin-right: 0.5rem;
    }
  }


  .navbar-nav {
    > li, li > a {
      color: $black;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;

  ul {
    list-style: none;
    padding: 0px;

    li { 
      display: inline-block;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0px;
      }

      a {
        color: #999;
        font-size: 1.2rem;
      }
    }
  }
}

.navbar-toggle {
  border-color: #FFF!important;
  border-radius: 0px;
}

.content-page {
  max-width: 600px;
  margin: auto;
  margin-top: 8rem;

  .title {
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  h3.title {
    margin-bottom: 3rem;
  }

  li {
    margin-bottom: 1.5rem;
  }

  input, textarea {
    border-radius: 2px;
    resize: none;
    overflow: hidden;
  }
  
  textarea {
    min-height: 250px;
  }

  .required {
    label:after {
      content: '*';
      position: relative;
      left: 5px;
      top: -5px;
      font-size: 1rem;
      color: #d9534f;

    }
  }

}

.alert {
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 10px;
  padding-bottom: 8px;
}

@media (max-width: 400px) {
  .navbar-default .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-default .navbar-brand {
    font-size: 15px;
  }
}

.row {
  display: flex;
  flex-direction: row;

  .column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}


form {
  .error {
    color: #d9534f;
    font-size: 1.3rem;
    padding-left: 2px;
    margin-top: 2px;
    display: block;

    &:before {
      content: "\21B3";
      display: inline-block;
      margin-right: 3px;
      font-size: 1.5rem;
      position: relative;
      top: 1px;
    }
  }
}

input[type=checkbox] {
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.progress {
  height: 30px;
  margin-bottom: 8px;
  .progress-bar {
    text-align: left;
    span {
      display: block;
      padding: 6px 12px;
    }
    &:last-child {
      text-align: right;
    }
    &.progress-bar-primary {
      background-color: #00A7E0;
      border-color: darken(#00A7E0, 10%);
    }
  }
}


.btn.btn-clear {
  background: transparent!important;
  border-width: 0px;
  color: #222;

  &.btn-danger {
    color: #d9534f;
    &:hover { color: darken(#d9534f, 10%); }
  }
  &.btn-primary {
    color: #00A7E0;
    &:hover { color: darken(#00A7E0, 10%); }
  }

  &:hover,
  &:active {
    background-color: transparent!important;
    box-shadow: none;
  }
}
