<div class="content-page">
  <h1 class="title">Thank you!</h1>
  <p>
  Our team will review your submission and reach out via email 
  with any questions, comments, or feedback. Feel free to
  <a href="/contact">contact us</a> with questions about the
  status of your submission.
  </p>
</div>
