<div class="content-page">
  <h1 class="title">Thank you!</h1>
  <p>
    We have your email and will be getting in touch
    soon. It usually takes us a week at most to respond
    to questions and comments. If you do not hear back
    within a week, please contact us again or <a href="mailto:nick@rokkincat.com">contact us directly.</a>
  </p>
</div>
