<div class="content-page">
  <h1 class="title">Thank you!</h1>
  <p>
  The project manager will be in touch with you soon
  to discuss details. If you have any questions in the meantime,
  <a href="/contact">send us an email.</a>
  </p>
</div>
